<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="row">
            <form  #loginForm="ngForm">

            <div class="form-group col-12 offset-3">
                <div class="row">
                    <div class="col-6">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" #nombre='ngModel' name="nombre" id="" [(ngModel)]='user.nombre' required placeholder="Introduzca Nombre">
                        <span *ngIf="nombre.touched &&  !nombre.valid" [ngStyle]="{'background-color': 'red'}">Debes rellenar el nombre</span>
                    </div>

                    <div class="col-6">
                        <label for="edad">Edad</label>
                        <input type="number" class="form-control" #edad= 'ngModel' name="edad" id="" [(ngModel)]='user.edad' pattern ="^([0-9]|[1-9][0-9]|99)$" required placeholder="Introduzca la edad">
                        <span *ngIf="edad.touched &&  !edad.valid" [ngStyle]="{'background-color': 'red'}">El número debe estar relleno y ser inferior a 100</span>

                    </div>

                </div>
                <div class="row">

                    <div class="col-6">
                        <label for="estado">Estado Civil</label>
                        <div class="form-group">
                          
                          <select class="form-control"  name="estado" [(ngModel)]='user.estadoCivil'>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Viudo" >Viudo</option>
                          </select>
                        </div>
                    

                    </div>
                    <div class="col-6">

                        <label for="lugar">Lugar Nacimiento</label>
                        <input type="text" class="form-control" name="estado" #lugar='ngModel' id="" [(ngModel)]='user.lugarNacimiento' required placeholder="Ciudad de nacimiento">
                        <span *ngIf="lugar.touched &&  !lugar.valid" [ngStyle]="{'background-color': 'red'}">El lugar debe estar relleno</span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <label for="dni">Dni</label>
                        <input type="text" class="form-control" #dni='ngModel' name="dni" id="" [(ngModel)]='user.dni' required placeholder="Dni 77777777W" pattern=" (([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))">
                        <span *ngIf="dni.touched &&  !dni.valid" [ngStyle]="{'background-color': 'red'}">El Dni debe estar relleno y debe ser 8 números y letra</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6 m-4">
                        <input type="submit" (click)='ngAddUser()' [disabled]="loginForm.form.invalid" value="Añadir">

                    </div>
                </div>

            </div>


            </form>
        </div>

    </div>

</body>