<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Estado Civil</th>
            <th>Dni</th>
            <th>Lugar De Nacimiento</th>

        </thead>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.edad}}</td>

            <td>{{usuario.estadoCivil}}</td>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.lugarNacimiento}}</td>



        </tr>
    </table>
</body>